@import "../../../colors-variates.scss";

.line-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $azul-Marinho;
  margin-bottom: 20px;
}

button {
  background-color: $preto;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: .5s;

  :hover {
    transform: scale(1.05);
  }
}

img {
  padding: 5px;
  margin: 5px;
}

.line-footerr{

  p {
    display: flex;
    align-items: center;
  }

  a {
    color: #fff;
    cursor: pointer;
  }
}
