<section>
  <div class="container">
    <div class="texto">
      <h1>MOLDANDO O FUTURO DIGITAL <br>
        A PARTIR DAS SUAS IDEIAS
        <span>.</span></h1>
      <p>Harmonizando criatividade e inovação, minha abordagem une design
        impactante, funcionalidade intuitiva e otimização para
        resultados. Estou preparado para dar vida à presença online dos
        seus sonhos.</p>
      <app-button btn-text="Entre em contato"></app-button>
    </div>
    <img ngSrc="./assets/tec-image.jpg" width="400" height="270">
  </div>
</section>
