<section>
  <div class="container">
    <h2>MEU <span>PORTIFÓLIO.</span></h2>
    <div class="projetos">
      <div class="img-port" style="background-image: url(../../../assets/SiteComercio.jpeg);">
        <div class="overlay">
          <h3>Site para comercio</h3>
        </div>
      </div>
      <div class="img-port" style="background-image: url(../../../assets/efood.jpeg);">
        <div class="overlay">
          <h3>Efood</h3>
        </div>
      </div>
      <div class="img-port" style="background-image: url(../../../assets/listaDeTarefa.jpeg);">
        <div class="overlay">
          <h3>lista de tarefa</h3>
        </div>
      </div>
    </div>
  </div>
</section>
