.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.projetos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.img-port {
  width: 360px;
  height: 460px;background-color: red;
  background-size: cover;
  background-position: 100% 0%;
  transition: 5s;
  cursor: pointer;
  border-radius: 20px;
  position: relative;

  &:hover {
    background-position: 100% 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b8;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s;

  &:hover {
    opacity: 1;
  }

  h3 {
    font-size: 24px;
  }
}

@media (max-width: 1020px) {

  .container {
    margin-top: 0;
  }

  .projetos {
    flex-direction: column;
  }
}
